<%- include('../partials/header') %>

<h1>NEW PLANT</h1>

<form action="/plants" method="POST" enctype="multipart/form-data">
    <input type="text" name="image" placeholder="image">
    <input type="text" name="description" placeholder="description (if you wish)"> 
    <label for="plantType">Choose a plant:</label>

    <select name="plantType">
        <option value="tulsi">Tulsi</option>
        <option value="aloevera">Aloevera</option>
        <option value="curryLeaves">Curry Leaves</option>
        <option value="neem">Neem</option>
        <option value="mulethi">Mulethi</option>
        <option value="ashwagandha">Ashwagandha</option>
        <option value="turmeric">Turmeric</option>
        <option value="giloy">Giloy</option>
        <option value="mint">Mint</option>
    </select>
    <select name="city" class="form input">
        <option value="Ahmedabad">Ahmedabad</option>
        <option value="Agra">Agra</option>
        <option value="Amritsar">Amritsar</option>
        <option value="Bangalore">Bangalore</option>
        <option value="Bhopal">Bhopal</option>
        <option value="Chennai">Chennai</option>
        <option value="Dehradun">Dehradun</option>
        <option value="Delhi">Delhi</option>
        <option value="Gwalior">Gwalior</option>
        <option value="Hyderabad">Hyderabad</option>
        <option value="Indore">Indore</option>
        <option value="Jaipur">Jaipur</option>
        <option value="Jabalpur">Jabalpur</option>
        <option value="Jodhpur">Jodhpur</option>
        <option value="Kanpur">Kanpur</option>
        <option value="Kolkata">Kolkata</option>
        <option value="Lucknow">Lucknow</option>
        <option value="Mumbai">Mumbai</option>
        <option value="Muzaffarpur">Muzaffarpur</option>
        <option value="Nagpur">Nagpur</option>
        <option value="Nashik">Nashik</option>
        <option value="Noida">Noida</option>
        <option value="Patna">Patna</option>
        <option value="Prayagraj">Prayagraj</option>
        <option value="Pune">Pune</option>
        <option value="Raipur">Raipur</option>
        <option value="Surat">Surat</option>
        <option value="Udaipur">Udaipur</option>
        <option value="Vadodara">Vadodara</option>
        <option value="Varanasi">Varanasi</option>
    </select>
    <div class="custom-file mb-3">
        <input type="file" name="file" id="file" class="custom-file-input">
        <label for="file" class="custom-file-label">Choose File</label>
    </div> 
    <button>Submit!!</button>
</form>
<a href="/plants">Go Back</a>

<%- include('../partials/footer') %>